/*!***********************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/Style/style.css ***!
  \***********************************************************************/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    --blue: #1D5D9B;
    --light-blue: #75C2F6;
}

.underline {
    text-decoration: underline;
}

.main {
    display: flex;
    flex-direction: column;
    gap: 10vh;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    cursor: pointer;
}
/*!**************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/Style/s-header.css ***!
  \**************************************************************************/
.header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 0 15px;
    position: fixed;
    background: rgba(255,255,255,0.85);
    backdrop-filter: blur(20px);
}

.logo {
    max-width: 15vw;
    width: 64px;
}

.logo-container, 
.hamburger-container,
.nav-open,
.nav-item {
    display: flex;
    align-items: center;
    justify-content: center;
}

.hamburger-btn {
    border: none;
    background: none;
    z-index: 50;
}

.hamburger-svg {
    width: 48px;
    max-width: 10vw;
}

.nav {
    position: absolute;
    top: 0;
    right: 0;
    transform: translateX(100%);
    height: 100vh;
    background: #fff;
    transition: transform 0.5s;
    width: 100vw;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-item {
    list-style: none;
    text-decoration: none;
    color: #000;
    font-size: 2rem;
    font-weight: 900;
}

.nav-open {
    transform: translateX(0);
}

.nav-list {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.theme-selector {
    background: none;
    border: none;
}
/*!************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/Style/s-home.css ***!
  \************************************************************************/
.main__home {
    min-height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 15px;
    padding-top: 10vh;
    gap: 15px;
    text-align: center;
}

.home-title {
    font-size: 1.5rem;
}

.home-link {
    background: var(--blue);
    color: #fff;
    padding: 1ch;
    border-radius: 10px;
    text-decoration: none;
}
/*!*************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/Style/s-about.css ***!
  \*************************************************************************/
/* General Main */

.main__about {
    padding: 63px 15px 0 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

.about-title {
    font-size: 2rem;
    font-weight: 900;
}

/* Profile */

.profile-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    margin-top: 10px;
}

.profile-title {
    font-size: 1.5rem;
    font-weight: 700;
}

.profile-img {
    background: var(--light-blue);
    border-radius: 57% 43% 67% 33% / 47% 66% 34% 53%;
    width: 90vw;
    min-height: 380px;
    max-height: 50vh;
    max-width: 290px;
    object-fit: cover;
}

.profile-bold {
    font-weight: 700;
}

.profile-info {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

/* About */

.aboutme-container {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.aboutme-title {
    align-self: center;
    font-size: 1.5rem;
    font-weight: 700;
}
/*!**************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/Style/s-skills.css ***!
  \**************************************************************************/
.main__skills {
    padding: 63px 15px 0 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

.skills-title {
    font-size: 2rem;
    font-weight: 900;
}

.languages-section,
.tools-section {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 10px;
    border: 1px solid;
    padding: 5px;
    border-radius: 16px;
}

.languages-title,
.tools-title {
    font-size: 1.5rem;
    font-weight: 700;
}

.languages-container,
.tools-container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.languages-item,
.tools-item {
    padding: 5px;
}

.language-svg,
.tool-svg {
    width: 64px;
}
/*!****************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/Style/s-projects.css ***!
  \****************************************************************************/
.main__projects {
    padding: 63px 15px 0 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

.projects-title {
    font-size: 2rem;
    font-weight: 900;
}

.back-btn, .next-btn {
    display: none;
}

.projects-container {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.projects__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.projects__title {
    font-size: 1.25rem;
    font-weight: 700;
}

.projects-image {
    width: 90vw;
}

.infor-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 15px;
}

.projects__info {
    text-align: center;
}

.projects__repo, 
.projects__live-preview {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #000;
    text-decoration: none;
    font-weight: 700;
}

.projects-svg {
    width: 32px;
}
/*!***************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/Style/s-contact.css ***!
  \***************************************************************************/
.main__contact {
    padding: 63px 15px 0 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    margin-bottom: 25px;
}

.contact-title {
    font-size: 2rem;
    font-weight: 900;
}

.contact-text {
    text-align: center;
}

.networks-container {
    width: 100%;
}

.networks-list {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.networks-item {
    list-style: none;
}

.networks-svg {
    width: 32px;
    transition: fill 0.1s, transform 0.3s;
}

.networks-svg path {
    transition: fill 0.1s, transform 0.3s;
}

.networks-svg:hover, .networks-svg:focus {
    transform: scale(1.3);
}

.svg-telegram:hover, .svg-telegram:focus {
    fill: #0088cc;
}

.svg-instagram:hover path, .svg-instagram:focus path {
    fill: url(#igGradient);
}

.svg-email:hover, .svg-email:focus {
    fill: #e94c4c;
}

.svg-linkedin:hover, .svg-linkedin:focus {
    fill: #0a66c2;
}
/*!*************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/Style/m-about.css ***!
  \*************************************************************************/
@media (min-width: 426px) {
    .profile-container {
        gap: 25px;
    }

    .aboutme-text {
        text-align: center;
    }
}
/*!****************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/Style/m-projects.css ***!
  \****************************************************************************/
@media (min-width: 426px) {
    .projects__item {
        max-width: 500px;
    }

    .projects-image {
        width: 90%;
    }
}
/*!**************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/Style/l-header.css ***!
  \**************************************************************************/
@media (min-width: 769px) {
    .hamburger-btn {
        display: none;
    }

    .nav {
        transform: translatex(0);
        position: relative;
        height: auto;
        width: auto;
        background: none;
    }

    .nav-list {
        flex-direction: row;
        gap: 25px;
    }

    .nav-item {
        font-size: 1.2rem;
        font-weight: 700;
        display: flex;
        flex-direction: column;
    }

    .theme-selector {
        display: flex;
        align-items: center;
        display: flex;
        flex-direction: column;
    }

    li .nav-item::after {
        display: block;
        content: "";
        width: 100%;
        height: 4px;
        background: var(--light-blue);
        transform: scaleX(0);
        transform-origin: left;
        transition: transform 0.3s ease;
    }

    li .nav-item:hover::after {
        transform: scaleX(1);
    }
}
/*!************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/Style/l-home.css ***!
  \************************************************************************/
@media (min-width: 769px) {
    .main__home {
        gap: 30px;
    }
    
    .home-title {
        font-size: 2.5rem;
    }

    .home-presentation {
        max-width: 768px;
    }

    .home-link {
        padding: 0.9ch 1.7ch;
        font-size: 1.2rem;
    }
}
/*!*************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/Style/l-about.css ***!
  \*************************************************************************/
@media (min-width: 769px) {
    .profile-container {
        display: grid;
        grid-template-rows: 1fr 10fr;
        grid-template-columns: 1fr 1fr;
        column-gap: 75px;
    }

    .profile-title {
        grid-column: 1 / span 2;
        text-align: center;
    }

    .aboutme-text strong {
        color: var(--blue);
    }
}
/*!**************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/Style/l-skills.css ***!
  \**************************************************************************/
@media (min-width: 769px) {
    .languages-section,
    .tools-section {
        padding: 20px;
    }

    .languages-container,
    .tools-container {
        column-gap: 30px;
        max-width: 769px;
    }
}
/*!****************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/Style/l-projects.css ***!
  \****************************************************************************/
@media (min-width: 769px) {
    .projects__item {
        position: relative;
        overflow: hidden;
    }

    .projects-title {
        width: 100%;
        text-align: center;
    }

    .projects-image {
        width: 100%;
    }

    .infor-container {
        position: absolute;
        background: var(--blue) !important;
        color: #fff;
        bottom: 0;
        overflow: hidden;
        transform: translateY(100%);
        transition: transform 0.5s;
        height: 50%;
    }

    .projects__info,
    .projects-link-text {
        background: var(--blue) !important;
    }

    .center:hover > .infor-container {
        transform: translateY(0);
    }

    .projects__repo,
    .projects__live-preview {
        color: #fff;
        fill: #fff;
    }

    .back-btn, .next-btn {
        display: flex;
    }

    .reel-container {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80%;
        height: 50vh;
    }

    .projects-container {
        position: relative;
        width: 100%;
        height: 100%;
        justify-content: center;
    }

    .projects__item {
        transform: scale(0.08);
        position: absolute;
        margin: auto;
        left: 0;
        right: 0;
        opacity: 0;
        transition: z-index 0.3s, transform 0.3s cubic-bezier(0.4, 0, 1, 1), opacity 0.2s cubic-bezier(0.4, 0, 1, 1);
    }

    .center {
        display: flex;
        z-index: 100;
        opacity: 1;
        transform: scale(1);
    }

    .next {
        display: flex;
        opacity: 1;
        z-index: 50;
        transform: translateX(min(45%, 15vw)) scale(0.7);
    }

    .back {
        display: flex;
        opacity: 1;
        z-index: 50;
        transform: translateX(max(-45%, -15vw)) scale(0.7);
    }

    .next-next {
        display: flex;
        opacity: 1;
        z-index: 25;
        transform: translateX(min(75%, 27vw)) scale(0.45);
    }

    .back-back {
        display: flex;
        opacity: 1;
        z-index: 25;
        transform: translateX(max(-75%, -27vw)) scale(0.45);
    }

    .back-btn {
        position: absolute;
        height: 60px;
        width: 60px;
        z-index: 200;
        border-radius: 100%;
        border: none;
        left: -25px;
        background: var(--light-blue);
        font-size: 1.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all 0.2s ease-in-out;
    }

    .next-btn {
        position: absolute;
        height: 60px;
        width: 60px;
        z-index: 200;
        border-radius: 100%;
        border: none;
        right: -25px;
        background: var(--light-blue);
        font-size: 1.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all 0.2s ease-in-out;
    }

    
    .next-btn:hover, .back-btn:hover,
    .next-btn:focus, .back-btn:focus {
        box-shadow: 0 0 10px 5px var(--light-blue);
    }
}
/*!***************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/Style/l-contact.css ***!
  \***************************************************************************/
@media (min-width: 769px) {
    .networks-link {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 5px;
    }

    .link-linkedin::after {
        content: "Linkedin";
    }

    .link-github::after {
        content: "GitHub";
    }

    .link-email::after {
        content: "Email";
    }

    .link-instagram::after {
        content: "Instagram";
    }

    .link-telegram::after {
        content: "Telegram";
    }
}
/*!***************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/Style/dark-mode.css ***!
  \***************************************************************************/
.dark-mode, 
.dark-mode p, 
.dark-mode .nav, 
.dark-mode .nav-item {
    background: #000019;
    color: #fff;
}

.dark-mode svg {
    fill: #fff;
}

.dark-mode .header {
    background: rgba(0,0,25,0.55);
}
